@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/** VARIABLES **/
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$primary-color: #FFB320; ///buttons
$secondary-color: #333; //dropdown background
$gray-color:#6c757d;
$light-color:#f8f9fa; //body background


$general-transition: all .5s;

$border-radius:45%;

$hover:#e0e1e4;
$back:#aeb0b3;

$white : #fefefe;
$black : #090909;

$mobileSize :40em;
$tabletSize :64em;
$desktopSize :80em;





